# Database
POSTGRES_DB=cardealership
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Spring
SERVER_PORT=8080
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=cardealership

# JWT
JWT_SECRET=mySecretKeyForJWTTokenGenerationMustBeAtLeast256BitsLongForHS256Algorithm
JWT_EXPIRATION_MS=86400000

# Admin
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@cardealership.com
ADMIN_PASSWORD=admin123